!!! 5
%html
  %head
    %title Stasis - Static Sites Made Powerful
    %link{ :href => "stasis.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Amaranth|Open+Sans:400,600,700&v2", :rel => "stylesheet", :type => "text/css" }
  %body
    %ul
      - @links.each do |link|
        %li
          %a{ :href => "##{link[:href]}" }= link[:name]
    #github
      %a{ :href => 'https://github.com/winton/stasis' }
        %img{ :src => 'github.png', :width => 141, :height => 141 }>
    #title
      %img{ :src => 'stasis.png' }>
      stasis
      %img.reverse{ :src => 'stasis.png' }>
    #share
      %br/
      %iframe{ :src => "http://markdotto.github.com/github-buttons/github-btn.html?user=winton&repo=stasis&type=watch&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "110px", :height => "20px" }
      %a{ :href => "https://twitter.com/wintonius", :class => "twitter-follow-button", 'data-show-count' => "false" } Follow @wintonius
    #tm
      Static Sites Made Powerful
    #body
      ~ @readme
      .clear
      %h3
        %a{ :name => "thanks", :href => "#thanks" } Thanks
      %p
        Please follow the project on Github:
        %br/
        %iframe{ :src => "http://markdotto.github.com/github-buttons/github-btn.html?user=winton&repo=stasis&type=watch&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "110px", :height => "20px" }
        %br/
        Follow Winton Welsh on Twitter for updates:
        %br/
        %a{ :href => "https://twitter.com/wintonius", :class => "twitter-follow-button", 'data-show-count' => "false" } Follow @wintonius
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "stasis.js", :type => "text/javascript" }
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");