!!! 5
%html
  %head
    %title Stasis - Static Sites Made Powerful
    %link{ :href => "stasis.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Amaranth|Open+Sans:400,600,700&v2", :rel => "stylesheet", :type => "text/css" }
  %body
    %ul
      - @links.each do |link|
        %li
          %a{ :href => "##{link[:href]}" }= link[:name]
    #github
      %a{ :href => 'https://github.com/winton/stasis' }
        %img{ :src => 'github.png', :width => 141, :height => 141 }>
    #title
      %img{ :src => 'stasis.png' }>
      stasis
      %img.reverse{ :src => 'stasis.png' }>
    #tm Static Sites Made Powerful
    #body
      ~ @readme
      .clear
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "stasis.js", :type => "text/javascript" }